<p>Hello <%= @member.name %>,</p>

<p>
  Please follow the link below to reset your password. This link is valid for 24 hours.
</p>

<p>
  <%= link_to "Reset Password", @reset_link %>
</p>

<p>
  If you did not request this password reset, you might want to reset your password to prevent your account from being compromised. If you have any questions, please <%= link_to "reach out", contact_path %>.
</p>